.featurette-heading{
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 3em;
}

h2 .text-muted{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h4{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.navbar-brand{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.lead{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p{
  font-size: 1.2em
}

footer p{
  font-size: 1em;
}

footer p{
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.subheading{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
}

.nav-pills{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

.small{
  margin-top: 3%;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.modal-body h4{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.modal-title{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
