/* Footer */

footer{
  background-color: #f6f6f6;
  padding-left: 10%;
}

footer p{
  color: #5B6064;
    font-family: 'Roboto Slab', serif;
    font-weight: light;
}


.social span{
  margin-left: 3%;
  font-size: 2em;
}


.fa{
  color: #5B6064;
}

.fa-twitter{
  color: white;
}

.fa-facebook{
  color: white;
}


.download{
  margin-top: 5%;
  margin-left: 15%;
}

.download small{
  margin-left: 4%;
}