/* Footer */

@media (min-width: 1024px) {
  footer{
    text-align: center;
  }
}


footer{
  margin-top: 1%;
  background-color: #f6f6f6;
}

footer p{
  color: #5B6064;
}

footer h4{
  margin-bottom: 5%;
}

.download{
  margin-left: 15%;
}

.download small{
  margin-left: 4%;
}

footer .logos{
  text-align: left;
}

footer .logos ul{
  list-style: none;
  margin-left: 5%;
  margin-top: -5%;
}

.twitter {
  width: 48px;
  height:48px;
  display:block;
  background:transparent url('../img/twitter-b.png')  center top no-repeat;
  background-size: cover;
}

.twitter:hover {
  background-image: url('../img/twitter-c.png');
}

.facebook {
  width: 48px;
  height:48px;
  display:block;
  background:transparent url('../img/facebook-b.png')  center top no-repeat;
  background-size: cover;
}

.facebook:hover {
  background-image: url('../img/facebook-c.png');
}

.github {
  width: 48px;
  height:48px;
  display:block;
  background:transparent url('../img/github-b.png')  center top no-repeat;
  background-size: cover;
}

.github:hover {
  background-image: url('../img/github-c.png');
}